---
import FloatingDock from "../components/FloatingDock.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-(--surface-0)" transition:animate="fade">
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <FloatingDock />
</Layout>

<style is:global>
  section {
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 500ms;
  }
</style>
