<footer class="py-12 border-t border-slate-200 dark:border-slate-800">
  <div class="container mx-auto px-6 text-center">
    <p class="text-slate-500 dark:text-slate-500">
      &copy; {new Date().getFullYear()}<a
        href="https://github.com/oldfarmer96"
        target="_blank"
        class="text-indigo-500 hover:underline"
      >
        oldfarmer96.
      </a>
      Casi todos los derechos reservados
    </p>
  </div>
</footer>
